body{
    background-color: #1f1e1e;
    color: #ffffff;
    overflow: hidden;
}

h1{
    text-align: center;
}

.todo-wrapper{
    margin: 3% auto;
    width: fit-content;
    height: fit-content;
    background: #353434;
    padding: 2%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(27, 27, 27);
    border-radius: 10px;
}

.todo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 10px;
    border-bottom: 1px solid #626060;
}


.todo-input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.todo-input-item > label {
    font-weight: bold;
}

.todo-input-item > input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.todo-input-item > input:focus {
    outline: 2px solid rgb(0, 230, 122);
}

.primaryBtn {
    background: rgb(0, 230, 122);
    color: #ffffff;
    padding: 10px;
    width: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-area {
    margin-top: 30px;
}

.btn-area > button {
    background: #1f1e1e;
    color: #ffffff;
    padding: 10px;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.btn-area > button:first-of-type {
    border-radius: 5px 0px 0px 5px;
}

.btn-area > button:last-of-type {
    border-radius: 0px 5px 5px 0px
}

.active {
    background: rgb(0, 230, 122) !important;
}

.todo-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list-item {
    padding: 2%;
    background: #414040;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgb(43, 42, 42);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.info h2 {
    margin: unset;
    color: rgb(0, 230, 122);
}

.info > p {
    margin: unset;
    color: rgb(161, 161, 161);
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions > .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.actions > .icon.check{
    color: rgb(0, 230, 122);
}

.actions > .icon.delete:hover {
    color: rgb(251, 0, 0);
}